table.board {
    width: 100%;
    
    tbody{
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(1px, 1fr));
        height: 90vh;
        background: green;

        &.playing{
            background: red;

            tr:hover{
                cursor: not-allowed;
            }
        }

        &.paused{
            background: orange;
        }
    }

    tr{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
        grid-gap: 1px;
        margin-bottom: 1px;
    }

    td{
        background: black;
        height: 5px;
        height: 100%;

        &.alive{
            background: yellow;
        }
    }
}