nav{
    button{
        height: 100%;
        min-width: 33.333%;
        border: none;
        &.btn{
            

            &-start{
                background-color: red;
            }

            &-pause{
                background-color: orange;
            }

            &-stop{
                background-color: green;
            }
        }
    }
}